.divAddEvent {
    float: right;
}

.eventsTableHead {
    display: table;
    width: 100%;
    height: 30px;
    color: #9b9696;
}

.eventsTableRow {
    display: table;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.divEventsTableRow {
    display: table;
    width: 100%;
    height: 70px;
}

.eventNumber {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    padding-left: 16px;
    color: #9b9696;
}

.eventName {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
}

.eventDate {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.eventLocation {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
}

.eventEdit {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.eventDelete {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.eventArrow {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.eventIcon {
    height: 15px;
    width: 15px;
}

.divEventDetails {
    width: 100%;
    height: 160px;
    display: table;
}
