.divSelectQuestionPack {
    width: 200px;
    margin-bottom: 25px;
    display: inline-block;
}

.divDownloadQuestionPack {
    float: right;
    display: inline;
    margin-bottom: 25px;
}

.questionPacksTableHead {
    display: table;
    width: 100%;
    height: 30px;
    color: #9b9696;
}

.questionPacksTableRow {
    display: table;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.divQuestionPacksTableRow {
    display: table;
    width: 100%;
    height: 70px;
}

.questionPackNumber {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    padding-left: 16px;
    color: #9b9696;
}

.questionPackEventName {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
}

.questionPackDifficulty {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.questionPackDelete {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.questionPackArrow {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.questionPackIcon {
    height: 15px;
    width: 15px;
}

.questionPackRandomIcon {
    height: 20px;
    width: 20px;
}

.divQuestionPackDetails {
    width: 100%;
}

.questionPacksDescriptionTableRow {
    margin-top: 0;
}

.questionPackAuthor {
    display: table-cell;
    vertical-align: middle;
    width: 85%;
}

.questionPackEdit {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.questionPackEmpty {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
}
