.sidebar {
    position: fixed;
    height: 100%;
    width: 70px;
    top: 70px;
    left: 0;
    background-color: #f7f9fc;
    border-right: 1.5px solid #dcdcf7;
    overflow-x: hidden;
    padding-top: 20px;
}

.divSidebar a {
    display: block;
    height: 100%;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    color: black;
}

.divSidebar :hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.divSidebar > a.active {
    border-right: 3px solid #1cc8eb;
    color: #1cc8eb;
}

.sidebarIcon {
    height: 30px;
    width: 30px;
}

.divSidebar > a.active .sidebarIcon path {
    fill: #1cc8eb;
}
