.divAddClub {
    float: right;
}

.clubsTableHead {
    display: table;
    width: 100%;
    height: 30px;
    color: #9b9696;
}

.clubsTableRow {
    display: table;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.divClubsTableRow {
    display: table;
    width: 100%;
    height: 70px;
}

.clubNumber {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    padding-left: 16px;
    color: #9b9696;
}

.clubName {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.clubCity {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.clubAddress {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.clubContacts {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
}

.clubContactsTable {
    display: table;
    width: 100%;
}

.divClubContactsUserAvatar {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
}

.divClubContactsUserName {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
}

.divClubContactsUserEmail {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.clubDelete {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.clubArrow {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.clubIcon {
    height: 15px;
    width: 15px;
}

.divClubDetails {
    width: 100%;
}

.clubsDescriptionTableRow {
    margin-top: 0;
}

.clubFoundedOn {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.clubActiveTeams {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}

.clubTotalTeams {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.clubDescription {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
}

.clubEdit {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.clubEmpty {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
}
