.divAddTeams {
    float: right;
}

.teamsTableHead {
    display: table;
    width: 100%;
    height: 30px;
    color: #9b9696;
}

.teamsTableRow {
    display: table;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.divTeamsTableRow {
    display: table;
    width: 100%;
    height: 70px;
}

.teamNumber {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    padding-left: 16px;
    color: #9b9696;
}

.teamName {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.teamEdit {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.teamDelete {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.teamArrow {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    cursor: pointer;
}

.teamIcon {
    height: 15px;
    width: 15px;
}

.divTeamDetails {
    width: 100%;
    height: 160px;
    display: table;
}
